*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}
body {
    font-family: sans-serif;
    
    background-color: #4c4c4c;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container {
    border:2px solid rgb(6, 2, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    background: black;
}
.display {
    height: 64px;
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    background-color: rgb(166, 245, 245);
    font-size: 36px;
}
.content {
    padding: 10px;
}
button {
    min-width: 64px;
    min-height: 64px;
    font-size: 36px;
    margin-top: 4px;
}

.btnEqual {
    width: 100%;
    background-color: red;
}












